header {
    background: #5b8eb8;
    margin: auto;
    text-align: center;
    width: 100%; 
    padding: 30px 0px;

}

body {
  background-color: rgb(221, 197, 197);
}
.caixa {
    position: relative;
    margin: auto;
    width: 100%;
}


h1 {
    color: #3d1d1dd2;
    position: absolute;
    left: 90px;
    padding: 5px;
    margin: 54px;
    margin-left: 15px;
}

h2 {
    margin: 0  0 10px;
    text-align: center;
    width: 100%; 
    padding-top: 10px; 
    padding-bottom: 20px; 
}

h2 img {
    width: 100px;  
}
.cabecalho {
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
nav li {
    display: inline-block;
    /* margin: 0 0 0 55px; */
    /* margin-bottom: 100px; */
    padding: 20px;
    border-color: #00000029;
    border-width: 1px; 
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
}
nav a {
    text-transform: uppercase;
    color: #000000d7;
    font-weight: bold;
    text-decoration: none;
}

nav li:hover {
background-color: #8a3f3f; 
transition: 0.7s;

opacity: 0.9;
}
.menu-bar {
    border: rgba(0, 0, 0, 0.255) solid 2px;
    text-align: center;
    
    }
.cultura-head {
    color: #71a9d6;
    border-color: #313e8529;
    background: rgb(102, 7, 7);
    border-width: 1px; 
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
}
/* formatação das imagens na sessão historia geral, coloquei elas no lado direito do site */
.foto-inicial {
    float: left;
}
/* cor do background dos tittle */
.theme-text {
  text-align: center;
  text-align: 50px;
  background-color: brown;
  color: aliceblue;
}
/* editando o title dos indigenas no maranhão */
.indigena-text {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  background-color: brown;
  color: aliceblue;
}
.balaiada {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  background-color: brown;
  color: aliceblue;
}
.head-fotos {
  background-color: burlywood;
  border: 1px solid #5b4caf;
  /* padding: 5px; */
}

/* editando a sessão de imagem da historia da balaiada */
.img1 {
  float: right;
}
ul.b {
  list-style-type: square;
  padding: 10px;
}
.img2 {
  float: right;
}
.independencia {
  background-color: cadetblue;
}
footer {
    text-align: center;
    background: url("fundo-texturizado.jpg");
    padding: 40px 0;
    position: relative;
    top: 500px;

}
footer img{
    height: 70px;

  
}
.copyright {
    color: cornsilk;
    font-size: 13px;
    margin: 20px 0 0;
    text-align: center;
}

.clearfix{
  display: flex; /* Usando display flex para organizar os containers dentro da class clearfix*/ 
}

p{
  text-align: justify;
}

.clearfix p{
  text-align: justify;
  margin: 15px;
}


